body {
	background-color: springgreen;
}

h1 {
	color: white;
	text-align: center;
}

button {
	margin-left: auto;
	margin-right: auto;
	display: block;
}

.image {
	margin-top: 10px;
	width: 100px;
	height: 100px;
}